h2 {
  margin: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
}

h4 {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

[alt='checkmark'] {
  margin-left: 22px;
  margin-right: 22px;
}
