.first-card {
  //   right: 928px;
  //   top: 115px;
  //   bottom: 115px;

  &__price {
    background-color: $first-card-color;
    margin-top: 2px;
  }

  &__order-btn {
    background-color: $first-card-color;
  }
}
