.second-card {
  // right: 530px;
  // top: 115px;
  // bottom: 115px;
  margin: 0 18px 0 18px;

  &__price {
    background-color: $second-card-color;
    margin-top: 2px;
  }

  &__order-btn {
    background-color: $second-card-color;
  }
}
