$card-primary-color: #334247;

$card-secondary-color: #2a3438;

$first-card-color: #5bb189;

$second-card-color: #3a6ba5;

$third-card-color: #ec632a;

$badge-color: #dc3f45;

$main-font-color: #fff;

$main-background-color: #141b1c;
